/* .slds-button_icon-x-small {
    transform:translateX(-40px);
  } */

.THIS .test3 td span button {
    transform:translateX(-80px);
}

.blabla{
    color: tomato;
    text-align: center;
}

.blabla h1{
    color: tomato;
    text-align: center;
}