.categories-wrapper {
  min-height: 52px;
}
.slider-wrapper {
  opacity: 0;
  overflow: hidden;
  padding: 0 25px;
}
.slider-wrapper.is-inited {
  opacity: 1;
  height: auto;
  overflow: visible;
}
.swiper-container {
  width: 100%;
  height: 414px;
  overflow-y: visible;
  overflow-x: clip;
}

.doctor-slide {
  padding: 3px;
  width: auto;
}

.swiper-button-prev,
.swiper-button-next {
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
  display: none !important;
}

.is-rtl .swiper-button-next,
.swiper-button-prev {
  left: -8px;
  right: auto;
}
.is-rtl .swiper-button-prev,
.swiper-button-next {
  right: -8px;
  left: auto;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}