:host {
  /* ! */
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1px;
  max-height: 90vh;
  /*  */
  margin: 0 !important;
  width: auto !important;
  max-width: none;
}
.modal-container.hide-footer .modal-footer {
  padding: 0.25rem;
  background-color: transparent;
  border: 0;
}

.modal-content {
  overflow: auto;
}